@import "tailwindcss";

@theme {
  --color-dark-400: oklch(0.3 0.005 270);
  --color-dark-500: oklch(0.2 0.005 270);
  --color-dark-600: oklch(0.15 0.005 270);
  --color-dark-700: oklch(0.1 0.005 270);

  --color-light-300: oklch(0.93 0.001 80);
  --color-light-400: oklch(0.9 0.001 80);
  --color-light-500: oklch(0.87 0.001 80);
  --color-light-600: oklch(0.8 0.001 80);
  --color-light-700: oklch(0.65 0.001 80);

  --color-accent-blue-300: oklch(0.8 0.12 250);
  --color-accent-blue-400: oklch(0.4 0.12 250);
  --color-accent-blue-500: oklch(0.3 0.12 250);
  --color-accent-blue-600: oklch(0.25 0.12 250);
  --color-accent-blue-700: oklch(0.18 0.12 250);

  --color-accent-orange-400: oklch(0.6 0.18 90);
  --color-accent-orange-500: oklch(0.5 0.18 90);
  --color-accent-orange-600: oklch(0.45 0.18 90);
  --color-accent-orange-700: oklch(0.35 0.18 90);
}
